node_modules/
.cache/
.parcel-cache/

.idea/
*.iml

.DS_Store

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.prettierrc
.eslintrc.js
.eslintignore
test/
scripts/
.github/